/* SCSS : Link Tag */

body {
  // Anchor Styles
  a {
    color: #06f;
    
    &:hover {
      color: #f09;
    }
  }
  
  .npm-version {
    transition: .2s;
    
    &:hover {
      opacity: .85;
    }
  }
}
